body{
  background-color: #111111;
  color: #fafafa;
  font-family: Vazirmatn;
}

.card-bg{
  background-color: #1a1c1e;
}

.opacity{
  opacity:0.5;
}

.image{
  position: absolute;
  right:70%;
  
  
}